body {
    margin: 0;
    height: 100vh;
    background: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
}

.box {
    background: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

img {
    width: 200px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
